body {
	margin: 0;
    background: #A8DADC;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    background: #F1FAEE;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 60px;
}

nav ul {
    margin: 0;
    margin-right: 80px;
    padding: 0;
    list-style: none;
    text-align: center;
}

nav li {
    display: inline-block;
    margin-left: 80px;
    padding-top: 20px;
    position: relative;
}

nav a {
    color: #191919;
    text-decoration: none;
    text-transform: capitalize;
    padding: 8px;
    font-weight: 650;
    font-size: 16px;
}

nav a:hover {
    background: #457B9D;
    border-radius: 5px;
}

@media screen and (max-width: 1020px) {
    .navbar {
        height: 120px;
    }
}

@media screen and (max-width: 560px) {
    .navbar {
        height: 140px;
    }
}

.navheader {
    height: 80px;
}

.about {
    margin: 0;
    margin-top: 50px;
    width: auto;
    font-weight: bold;
}

.profile {
    height: 280px;
    width: 280px;
    float: left;
    margin-left: 50px;
    margin-right: 100px;
    border-radius: 450px;
    border-width: 0px;
}

@media screen and (max-width: 890px) {
    .profile {
        height: 180px;
        width: 180px;
    }
}

.resume {
    margin: 0;
    margin-top: 50px;
    font-weight: bold;
}

.tableimages {
    width: 10%;
    text-align: center;
}

.tabletext {
    width: 50%;
    padding: 10px;
    padding-left: 30px;
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    line-height: 2;
}

.resumeimg {
    height: 130px;
    width: 180px;
}

.portfolio {
    margin: 0;
    margin-top: 50px;
    font-weight: bold;
    text-align: center;
}

.portfolioul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.portfolioul li {
    display: inline-block;
}

.portfolioimg {
    height: 250px;
    width: 380px;
}

@media screen and (max-width: 1020px) {
    .portfolioimg {
        height: 200px;
        width: 280px;
    }
}

.portfoliolist {
    display: inline-block;
    margin-top: 50px;
}

.portfoliolinks:link, .portfoliolinks:visited, .portfoliolinks:active {
    font-weight: normal;
    font-style: normal;
    text-transform: none;
    text-decoration: underline;   
    color: #F1FAEE; 
    font-size: 16px;
}

figcaption {
    text-align: center;
}

.skills {
    margin: 0;
    margin-top: 50px;
    width: auto;
    font-weight: bold;
}

.skillstable {
    padding: 10px;
    padding-left: 30px;
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    line-height: 2;
}

.skillsheader {
    width: 1000px;
}

.contact {
    margin: 0;
    margin-top: 50px;
    text-align: center;
    font-weight: bold;
}

.footer {
    display: inline-block;
    padding: 40px;
    width: 90%;
    height: 90px;
    font-size: 20px;
    font-weight: 150px;
    color: #F1FAEE;
    background: #457B9D;
    text-transform: uppercase;
    text-align: center;
}

.footertext {
    color: #F1FAEE;
    display: inline-block;
    margin-top: 15px;
    font-size: 18px;
    font-style: normal;
    text-transform: none;
    font-weight: normal;
    text-align: justify;
}

.container {
    text-align: center;
    width: 80%;
    margin-left: 8%;
    padding: 40px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 150px;
    color: #191919;
    background: #F1FAEE;
    border-radius: 12px;
}

.bordercontainer {
    padding: 20px;
    width: 70%;
    margin-left: 14%;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 0;
    color: #F1FAEE;
    background: #457B9D;
}

.containertext {
    font-size: 15px;
    font-style: normal;
    margin-top: 10px;
    margin-left: 50px;
    text-transform: none;
    text-align: justify;
    line-height: 1.5;
    font-weight: normal;
    padding-right: 80px;
    padding-bottom: 30px;
}

.tabtext {
    font-size: 20px;
    margin-top: 20px;
    border-color: #E63946;
    border-radius: 4px;
    border-style: solid;
    border-width: 3px;
}

/* --- tab settings --- */

/* hide radio buttons */
input { 
    display: none; 
}

/* show labels in line */
input + label { 
    display: inline-block;
    color: #191919;
    text-transform: none;
    width: 200px;
}

/* box with rounded corner */
input + label {            
    border: 1px solid black;
    background: #F1FAEE;
    padding: 12px;
    margin-top: 30px;
    border-radius: 4px;
    top: 1px;
    text-transform: capitalize
}

input + label:hover {
    cursor: pointer;
    background: #457B9D;
}

/* darkened background for selected tab */
input:checked + label { 
    background: #457B9D;
    
}

/* --- tab settings for resume ---*/

/* hide contents */
input ~ .resumetab { 
    display: none;
}

/* show contents only for selected tab */
#education:checked ~ .resumetab.content1,
#workexperience:checked ~ .resumetab.content2,
#nationalservice:checked ~ .resumetab.content3 { 
    display: inline-block;
}

/* grey line between tab and contents */
input ~ .resumetab {        
    padding: 12px;
    text-transform: none;
}

/* --- tab settings for skills --- */

/* hide contents */
input ~ .skillstab { 
    display: none;
}

/* show contents only for selected tab */
#coding:checked ~ .skillstab.content1,
#software:checked ~ .skillstab.content2,
#miscellaneous:checked ~ .skillstab.content3 { 
    display: block;
    font-weight: normal;
}

/* grey line between tab and contents */
input ~ .skillstab {        
    padding: 12px;
    text-transform: none;
}

/* RESPONSIVE RULES */
